/* Déclaration des propriétés du header */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #111F86;
    background: white;
    width: 80%;
    margin: auto;
}


body {
    margin: 15px 0 0 0;
}

header nav a {
    color: #111F86;   
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img {
    width: 60px;
    height: 60px;
}

header h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h4 {
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

nav a {
    text-transform: uppercase;
    font-size: 1.5em;
    padding-bottom: 3px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}

nav li {
    margin-right: 15px;
}

/* Fin des propriétés du header */

/* Déclaration des propriétés du footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    background: #1025BC;
    padding: 25px 0 25px 0;
}

footer img {
    width: 80px;
    height: 80px;
}

footer a {
    color: white;
}

/* Définition des propriétés définissant la page */

/* Propriété pour l'intro */

#intro {
	display: flex;
	flex-direction: column;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #1025BC;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
}

#intro img {
	width: 500px;
	height: 250px;
	margin-top: 25px;
}

/* Fin des propriétés de l'intro */

/* Proriétés Qui Sommes-Nous ?*/

#quiSommesNous {
	display: flex;
	flex-direction: row;
	margin: auto;
	width: 90%;
	padding-bottom: 100px;
	padding-top: 100px;
}

#titreQuiSommesNous {
	text-transform: uppercase;
	text-decoration: underline;
}

#Présentation {
	margin-right: 50px;
}

#quiSommesNous img {
	width: 500px;
	height: 350px;
	margin-left: 100px;
}

/* Fin des propriétés Qui Sommes-Nous ? */

/* Début des propriétés Equipe */

#Equipe {
    display: flex;
    flex-direction: column;
    background: #1025BC;
}

.Ligne {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 75px;
}

.texteEquipe {
    color: white;
    text-transform: uppercase;
}

.lienVersEquipe {
    text-decoration: none;
    color: white;
    text-align: right;
    margin: 100px 50px 35px 0;
    font-size: 1.1em;
}

.photoStaff {
    height: 200px;
}

#Président, #Responsable_Sponsoring, .memberStaff:nth-child(2), .memberStaff:nth-child(3) {
    margin-right: 150px;
}

#titleEquipe {
    font-size: 3em;
    font-weight: normal;
    text-decoration: underline;
    margin-top: 175px;
    margin-bottom: 125px;
}

#ligne3 {
    margin-bottom: 100px;
}

/* Fin des propriétés Equipe */

/* Début des propriétés Projets */

#Projets {
    display: flex;
    flex-direction: column;
}

#ProjetDiv {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    margin-bottom: 100px;
}

#ProjetTitle {
    font-size: 3em;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 100px;
}

.photoProjet {
    height: 400px;
}

#listeProjet {
    list-style-type: none;
    margin: 0 60px 0 60px;
}

#listeProjet li {
    font-size: 1.5em;
}

#LienVersProjet {
    text-align: right;
    font-size: 1.1em;
    margin:  0 35px 50px 0;
}

#LienVersProjet a {
    color: black;
    text-decoration: none;
}