/* Toute la page */

body {
	background: #84C6F1;
}

#allPage {
    width: 90%;
    margin: auto;
}

p, h1, h2, h3, h4, h5, h6, a {
	color:  #113952;
}

/* Fin de la définition de global */





/* Header de toutes les pages */

header {
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#separePageAndHeader {
	margin-bottom: 50px;
    width: 100%;
}

#titre_principal {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img {
    width: 60px;
    height: 60px;
}

header h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h4 {
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

nav a {
	text-transform: uppercase;
	font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Fin de l'header */




/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer img {
    width: 80px;
    height: 80px;
}

/* Partie présentation du staff avec la mise en page Flexbox 
pour agencer correctement les bons éléments*/

#listeStaff {
	display: flex;
	flex-direction: column;
}

.memberStaff {
	margin-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}   

.photoStaff {
	width: 200px;
	height: 200px;
    margin-right: 30px;
    padding-left: 30px;
}

.presentationStaff {
    padding-right: 30px;
}

.memberStaff:not(:last-child) {
    border-bottom: 5px solid black;
}

/*Partie présentation du staff avec les textes*/

#compositionStaff {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2.5em;
}