/* Définition des propriétés globales à la page */

#allPage {
	width: 90%;
	margin: auto;
}

body {
	background: #9ED2F2;
}

/* Définition des propriétés du header */

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	color: #111F86;
}

header nav a {
    color: #111F86;   
}

#separePageAndHeader {
    margin-bottom: 100px;
}

#titre_principal {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img {
    width: 60px;
    height: 60px;
}

header h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h4 {
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

nav a {
    text-transform: uppercase;
    font-size: 1.5em;
    padding-bottom: 3px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}

nav li {
    margin-right: 15px;
}

/* Fin de la déclaration des propriétés du header */



/* Déclaration des propriétés du footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #111F86;
}

footer img {
    width: 80px;
    height: 80px;
}

#separePageAndFooter {
    margin-top: 100px;
}

/* Déclaration des propriétés pour le formulaire */

#formulaireInscription {	
	display: flex;
	flex-direction: column;
	background: #CB2F2F;
	border-radius: 100px;
	width: 65%;
	margin: auto;
}

form {
	display: flex;
	flex-direction: column;
}

input, select, button {
	margin-bottom: 25px;
}

.DivForm {
	margin: auto;
	color: #0E1E90;
}

#formInscriptionTitle {
    text-transform: uppercase;
    font-size: 2.5em;
    text-decoration: underline;
    margin-bottom: 35px;
    margin-top: 35px;
}

form p a {
	text-decoration: none;
	color: #0E1E90;
	font-size: 1.3em;
}

label {
    font-size: 1.5em;
}