body {
    margin: 15px 0 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #111F86;
    width: 80%;
    margin: auto;
    align-items: flex-end;
}

header h4 {
    font-weight: normal;
    font-size: 1.1em;
    margin-top: 0px;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

#logo img {
    width: 60px;
    height: 60px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

header nav a {
    color: #111F86;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.5em;
    padding-bottom: 3px;
}

header nav a:hover {
    border-bottom: 3px solid #760001;
    color: #760001;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer img {
    width: 80px;
    height: 80px;
}

.class2 {
    text-align: center;
}

.class1 {
    background: #1025BC;
    color: white;
    text-align: center;
}

.description {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    font-size: 1.3em;
}


#footer a {
    text-transform: lowercase;
}

.description img {
    margin-right: 25px;
    height: 350px;
}

h3 {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: normal;
    font-size: 3.5em;
    margin-top: -25px;
    margin-bottom: 75px;
}

.class2 a {
    text-transform: uppercase;
    color: black;
}

.class1 a {
    color: white;
}

.lienSite a {
    text-transform: uppercase;
}

#footer .class1 {
    padding: 25px 0;
}

#footer .class2 {
    padding: 25px 0;
}

.sectionPage {
    padding: 150px 0 100px;
    display: flex;
    flex-direction: column;
}