/* Définition des propriétés header */ 

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #111F86;
    background: white;
    width: 80%;
    margin: auto;
}

header nav a {
    color: #111F86;   
}

#titre_principal {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img {
    width: 60px;
    height: 60px;
}

header h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h4 {
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

nav a {
    text-transform: uppercase;
    font-size: 1.5em;
    padding-bottom: 3px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}

nav li {
    margin-right: 15px;
}

/* Définition des propriétés footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #111F86;
    margin-top: 25px;
}

footer img {
    width: 80px;
    height: 80px;
}

#separePageAndFooter {
    margin-top: 25px;
}

/* Propriété pour le choix du type de projet */

#ChoixTypeProjet {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    padding: 50px 0 50px 0;
    background: #1025BC;
}

#ChoixTypeProjet img {
	width: 250px;
	height:	150px;
}

#ChoixTypeProjet h3 {
    color: white;
}

a {
	color: #111F86;
	text-transform: uppercase;
	font-size: 1.2em;
}

/* Définition des propriétés pour les listes de projet */

.ProjetDeux {
    background: #1025BC;
}

.ProjetDeux .description, .ProjetDeux .titre {
    color: white;
}

.alignement:first-child {
    margin-top:  50px;
}

.alignement {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.alignement img {
    width: 300px;
    height: 300px;
    margin-right: 35px;
}

.titre {
    text-transform: uppercase;
    text-decoration: underline;
}

.titreAndDescription {
    display: flex;
    flex-direction: column;
}

.ProjetUn, .ProjetDeux {
    padding-top: 50px;
    padding-bottom: 50px;
}

#toUnderline {
    text-decoration: underline;
}

footer a {
    text-decoration: underline;
}

/* Fin de la définition des listes */