body {
    margin: 15px 0 0;
}

header {
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background: white;
    width: 80%;
    color: #111F86;
    justify-content: space-between;
    margin: auto;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img {
    width: 60px;
    height: 60px;
}

header nav ul { 
    display: flex;
    flex-direction: row;
}

header nav li {
    list-style-type: none;
    margin-right: 15px;
}


header h4 {
    margin-top: 0;
    font-size: 1.1em;
    font-weight: normal;
}

header h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header nav a {
    text-decoration: none;
    color: #111F86;   
    text-transform: uppercase;
    font-size: 1.5em;
}

header nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}


#intro {
    background: #1025BC;
    color: white;
    padding: 100px 0 150px;
    font-size: 1.8em;
}

#intro a {
    color:  white;
    text-transform: uppercase;
} 

#intro p {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    background: #1025BC;
    padding: 25px 0 25px 0;
}

footer img {
    width: 80px;
    height: 80px;
}

footer a {
    color: white;
}

form {
    text-align: center;
}

#form {
    padding: 50px 0;
    margin: 10% 30%;
    background: #102593;
    opacity: 0.9;
    color: white;
    border-radius: 50px;
}

input, select {
    margin-bottom: 30px;
}

h2.formComponent {
    font-weight: 1.1px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2em;
}